/ConsoleVisualizer/bin/Debug
/ConsoleVisualizer/obj/Debug
/.vs
/packages
/ConsoleVisualizer/bin/f
/ConsoleVisualizer/bin/Release/soundcloud
/ConsoleVisualizer/bin/Release
/ConsoleVisualizer/obj/Release
